body {
    background-color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.transparentbox {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 70%;
    width: 60%;
    margin: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    overflow-y: visible;
    min-height: 60vh;
}

.transparentbox form {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.transparentbox button {
    margin-top: 0;
}

.form123 {
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    flex: 1;
    width: 560px;
    max-width: 500px;
}

.myBtn {
    vertical-align: middle;
    background-color: #00ffff;
    color: black;
    cursor: pointer;
    padding: 20px 50px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    transition-duration: 0.4s;
    white-space: nowrap;
}

.myBtn:hover {
    background-color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
